<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Players - {{team.name}}</ion-title>
  </ion-navbar>
</ion-header>



<ion-content>
  <ion-list>
      <ion-item-group *ngFor="let player of players | async">
        <ion-item button (click)="addPlayer(player)" *ngIf="checkUsage(player)">
          <ion-avatar item-left>
            <img src="assets/icon/apple-icon.png">
          </ion-avatar>
          <h2>{{player.name}} ({{player.number}})</h2>
        </ion-item>
      </ion-item-group>
  </ion-list>
</ion-content>





