<ion-header>
  <ion-navbar>
    <ion-title>Game</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div style="text-align: center">
    <button *ngIf="showStartButton()" ion-button color="secondary" (click)="startGame()">Start Match</button>
  </div>
  <ion-grid *ngIf="currentGame.startTime != 0">
    <ion-row ngClass="clock">
      <ion-col width-100 text-center=""><h2> {{currentTime}}</h2></ion-col>
    </ion-row>
    <ion-row *ngIf="currentGame.period != null">
      <ion-col width-100 text-center=""><h3>Period: {{currentGame.period.period}}</h3></ion-col>
    </ion-row>
    <ion-row *ngIf="currentGame.period == null">
      <ion-col width-100 text-center=""><h3>PAUS</h3></ion-col>
    </ion-row>
    <ion-row *ngIf="currentGame.endTime != 0">
      <ion-col width-100 text-center=""><h3>Game ended</h3></ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50 text-right=""><h4> {{currentTeam.name}} -</h4></ion-col>
      <ion-col width-50 text-left=""><h4>{{currentGame.opponent}}</h4></ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-50 text-right=""><h1>{{currentGame.goals}}&nbsp;&nbsp;&nbsp;&nbsp; -</h1></ion-col>
      <ion-col width-50 text-left=""><h1>&nbsp;&nbsp;&nbsp;&nbsp;{{currentGame.goalsOpponent}}</h1></ion-col>
    </ion-row>
    <ion-row *ngIf="currentGame.endTime==0">
      <ion-col width-50 text-right="">
        <ion-buttons >
          <button ion-button color="secondary" round (click)="addGoal(currentTeam.name)" [attr.disabled]="currentGame.period==null?'':null">Goal!</button>
        </ion-buttons>
      </ion-col>
      <ion-col width-50 text-left="">
        <ion-buttons>
          <button ion-button color="secondary" round (click)="addGoal(currentGame.opponent)" [attr.disabled]="currentGame.period==null?'':null" >Goal!</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-100 text-right=""></ion-col>
    </ion-row>
    <ion-row *ngIf="currentGame.endTime==0">
      <ion-col width-50 text-right="" *ngIf="currentGame.period != null">
        <ion-buttons >
          <button ion-button color="default" round (click)="endPeriod(false)">End period</button>
        </ion-buttons>
      </ion-col>
      <ion-col width-50 text-right="" *ngIf="currentGame.period == null">
        <ion-buttons >
          <button ion-button color="default" round (click)="startPeriod()">Start period</button>
        </ion-buttons>
      </ion-col>
      <ion-col width-50 text-left="">
        <ion-buttons>
          <button ion-button color="danger" round (click)="endPeriod(true)">End game</button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-grid>




</ion-content>



